repos:
  - repo: https://github.com/psf/black
    # this version is synced with the black mentioned in .github/workflows/ci.yml
    rev: 24.3.0
    hooks:
      - id: black
        entry: bash -c 'black "$@"; git add -u' --
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.12
