name: Docker Hub

on:
  release:
    types: [created]

jobs:
  push_to_docker_hub:
    name: Build and push image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set version from tag
        run: |
          ETL_VERSION=$(echo $GITHUB_REF_NAME | sed 's/^v//')
          echo "ETL_VERSION=$ETL_VERSION" >> $GITHUB_ENV

      - name: Get Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: latest=true
          images: smartonfhir/cumulus-etl
          tags: |
            type=pep440,pattern={{major}},value=${{ env.ETL_VERSION }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image to Docker Hub
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: |
            linux/amd64
            linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ETL_VERSION=${{ env.ETL_VERSION }}
